$mainColor : #373737;
$secondaryColor : #ed1c24;
$menuHeight: 32px;

@mixin gradient1 {
	background: #cccccc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2I3YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #cccccc 0%, #b7b7b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cccccc 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cccccc 0%,#b7b7b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cccccc 0%,#b7b7b7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cccccc 0%,#b7b7b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-8 */
}
@mixin gradient2 {
	background: #305ebb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNWViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTQ5OTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #305ebb 0%, #254991 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#305ebb), color-stop(100%,#254991)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #305ebb 0%,#254991 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #305ebb 0%,#254991 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #305ebb 0%,#254991 100%); /* IE10+ */
	background: linear-gradient(to bottom, #305ebb 0%,#254991 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#305ebb', endColorstr='#254991',GradientType=0 ); /* IE6-8 */
}
@mixin gradient3 {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}


body {
	background: $mainColor;
}


	// border-bottom: 1px solid #09c;


nav {
	// left: 2%;
	// right: 2%;
	// margin: 2em 0;
	font-size: 0.8em;
	height: $menuHeight;
	// background: #ccc;
	position: absolute;
	top: 0;
	z-index: 20;
	@include gradient1;


	width: 100%;

	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 0px 20px 0 rgba(0,0,0,0.9);

	ul {
		height: $menuHeight;
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
		display: inline-block;
		li {
			float:  left;
			height: $menuHeight;
			line-height: $menuHeight;
			margin: 0em 1em;
			a {
				color: #000;
				text-decoration: none;
				padding: 3px 8px;
				border-radius: 40px;

				&:hover {
					background: #8f8f8f;
					color: #fff;
					text-shadow: 0 1px 0 #000;
				}
			}
		}
	}
}

.dropit {
	position: absolute;
	right: 0;
	top: 0;
	background: url('../img/overdrop.png') center no-repeat;
	color: $secondaryColor;
	height: 100%;
	width: 32px;
	text-align: center;
	line-height: 1em;

}

#overdrop_menu {
	display: none;
	background: #ededed;
	margin: $menuHeight auto 0 auto;
	z-index: 999;
	box-shadow: 0 8px 10px 0 #222, inset 0 -2px 5px 0 #d0d0d0;
	text-align: left;
	position: absolute;
	right: 0;
	border-radius: 6px;
	overflow: hidden;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);


	ul {
		height: auto;
		min-width: 220px;
		max-width: 320px;
		list-style: none;
		padding: 0;
		margin: 4px 0;
		li {
			margin: 0;
			width: 100%;
			a {
				padding: 0em 10px;
				display: block;
				border: none;
				border-radius: 0;
				color: #000;
				&:hover {
					@include gradient2;
					text-shadow: none;

					color: #fff;
				}
			}
		}
	}
}

#content {
	position: absolute;
	top: $menuHeight;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 0.8em;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			@include gradient3;
			height: $menuHeight;
			line-height: $menuHeight;
			border-top: 1px solid #ccc;
			width: 100%;
			padding: 0 1em;
			box-sizing: border-box;
		}
	}
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	/* Retina-specific stuff here */
	.dropit {
			background: url('../img/overdrop@2X.png') center no-repeat;
			background-size: 32px 32px;	
	}
}
